@import url("../css/initialize.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;0,800;0,900;1,100;1,600&display=swap");
:root {
  --gdgold: rgba(249, 238, 90, 1);
  --gdblue: rgba(20, 37, 99, 1);
  --colA: rgba(249, 238, 90, 1);
  --colB: rgba(20, 37, 99, 1);
  --col1: rgba(154, 220, 226, 0.6);
  --col2: rgba(73, 71, 71, 1);
  --col3: rgba(255, 255, 255, 1);
  --col4: rgba(255, 0, 0, 1);
  --col5: rgba(134, 179, 209, 0.7);
  --col6: rgba(78, 42, 238, 1);
  --col7: rgba(170, 160, 160, 1);
  --col8: rgba(0, 255, 34, 1);
  --col9: rgba(245, 245, 220, 1);
  --col10: rgb(233, 94, 1);
  --col11: rgba(71, 72, 83, 1);
  --col12: rgb(44, 86, 40, 1);
  --col13: rgb(192, 153, 62);
  --col14: rgba(203, 209, 143, 1);
  --col15: rgba(241, 206, 9, 1);
  --col16: rgb(255, 136, 0);
  --col17: rgba(0, 0, 0, 1);
  --col18b: rgba(255, 255, 255, 1);
  --col18a: rgba(235, 235, 235, 1);
  --col18: rgba(215, 215, 215, 1);
  --col19: rgba(0, 0, 0, 1);
  --col20: rgb(100, 78, 91);
  --col21: rgb(158, 90, 99);
  --col22: rgb(201, 101, 103);
  --col23: rgb(151, 170, 189);
  --col24: rgba(132, 77, 54, 0.41); /* Eclectic and Peaceful */
  --col25: rgba(230, 233, 240, 0.774);
  --col26: rgba(134, 179, 209, 0.7);
  --col27: rgba(170, 160, 160, 0.825);
  --col28: rgb(142, 130, 104);
  --col29: rgba(40, 167, 69, 1);
  --col30: rgba(255, 193, 7, 1);
  --col31: rgba(108, 117, 125, 1);
  --col32: rgb(136, 31, 41);
  --col33: rgba(23, 162, 184, 1);
  --col34: rgba(152, 170, 210, 1);
  --col35: rgba(151, 170, 189, 1);
  --col36: rgba(151, 170, 170, 1);
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgb(52, 228, 75), rgb(78, 93, 191));
}

.tab-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding-top: 100px; /* Space for fixed tabs */
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: inherit;
  text-align: center;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  justify-content: start;
  color: #b94444;
  width: 100%;
  max-width: inherit;
  margin: 0 auto;
  z-index: 1000; /* Ensure tabs are on top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label + .tabs:checked {
  border: 1px solid black;
  border-top-left-radius: 2px;
  border-top-right-radius: 12px;
}

.tabs div {
  padding: 10px 20px;
  flex-grow: 1;
  text-align: center;
  transition: background-color 0.3s;
}

.tabs div:hover {
  background-color: #ecf80c;
}

.tabs div:checked {
  background-color: #d80909;
}

input[type=radio] {
  display: none;
}

.tab-content {
  display: none;
  padding: 20px;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4,
#tab5:checked ~ .content #content5,
#tab6:checked ~ .content #content6 {
  display: block;
}

.content {
  padding: 20px;
  background-color: #fff;
}/*# sourceMappingURL=style.css.map */