@import url("../css/initialize.css");
@import "../css/colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;0,800;0,900;1,100;1,600&display=swap");

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, rgb(52, 228, 75) , rgb(78, 93, 191));
}

.tab-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    padding-top: 100px; /* Space for fixed tabs */
}

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);    
    width: 100%;
    max-width: inherit;
    text-align: center;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: start;
    color: #b94444;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    z-index: 1000; /* Ensure tabs are on top */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label + .tabs:checked {
    border: 1px solid black;
    border-top-left-radius: 2px;
    border-top-right-radius: 12px;
}

.tabs div {
    padding: 10px 20px;
    flex-grow: 1;
    text-align: center;
    transition: background-color 0.3s;
}

.tabs div:hover {
    background-color: #ecf80c;
}

.tabs div:checked {
    background-color: #d80909;
}

input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
    padding: 20px;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4,
#tab5:checked ~ .content #content5,
#tab6:checked ~ .content #content6  {
    display: block;
}

.content {
    padding: 20px;
    background-color: #fff;
}
