@import url("../css/initialize.css");
@import "../css/colors";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,700;0,800;0,900;1,100;1,600&display=swap");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(19deg, rgb(255 255 0 / 50%), rgb(0 0 255 / 50%));
    background-repeat: no-repeat;
}

.tab-container {
    position: sticky;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    top: 0; /* Space for fixed tabs */
}

.tabs {
    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: red;
    color: #fff;
    position: fixed;
    transition: all 0.3s ease;
    top: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: inherit;
    max-width: inherit;
    margin: 0 auto;
    z-index: 1000; /* Ensure tabs are on top */
    label {
        padding: 10px 20px;
        flex-grow: 1;
        text-align: center;
        transition: background-color 0.3s;
        display: block;
    }

    label:hover {
        background-color: #3cadda;
    }

    input[type="radio"]:checked + label {
        background-color: #0bcaca;
        font-weight: bold;
        border-bottom: 3px solid #ff9800; /* Example active tab style */
    }

    > * {
        border: 1px solid black;
        border-top-left-radius: 2px;
        border-top-right-radius: 25px;
    }
}

.tabs.hide {
    top: -110px;
}

input[type="radio"] {
    display: none;
}

label.tab-label {
    background-color: #f517df;
}

.tab-content {
    display: none;
    padding: 20px;
}

#tab1:checked ~ .content #content1,
#tab2:checked ~ .content #content2,
#tab3:checked ~ .content #content3,
#tab4:checked ~ .content #content4,
#tab5:checked ~ .content #content5,
#tab6:checked ~ .content #content6 {
    display: block;
}

.content {
    padding: 20px;
    background-color: #fff;
}

/* New class for active tab */
.active-tab {
    background-color: #ff9800; /* Change this to your desired active tab color */
    color: #fff; /* Optional: Change text color for better contrast */
}

/* Apply the active-tab class to the checked tab */
#tab1:checked ~ .tabs label[for="tab1"],
#tab2:checked ~ .tabs label[for="tab2"],
#tab3:checked ~ .tabs label[for="tab3"],
#tab4:checked ~ .tabs label[for="tab4"],
#tab5:checked ~ .tabs label[for="tab5"],
#tab6:checked ~ .tabs label[for="tab6"] {
    background-color: #5900ff; /* Active tab color */
    color: #fff; /* Active tab text color */
    border-bottom: 3px solid transparent; /* Active tab border */
}
